name = "rsl-smartvote"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "rsl-vote-db"
database_id = "e9868a6d-0dfa-41b0-b953-4ec7f382647a"
